<header class="header">
  <section class="flex">
    <a href="#Home" class="logo">Centro de Lenguas</a>
  </section>
</header>

<section>
  <div id="horario-pdf">
    <div class="info" *ngIf="profesor">
      <h2>Horario</h2>
      <div class="profesor-info">
        <p><strong>Profesor:</strong> {{ profesor.nombre }} {{ profesor.apellido }}</p>
        <p><strong>Email:</strong> {{ profesor.email }}</p>
        <p><strong>Cédula:</strong> {{ profesor.dni }}</p>
      </div>
    </div>
    <div class="customBack">
      <div *ngIf="!loading" class="container">
        <div class="row">
          <button class="out" routerLink="/iniciar-profesor">Salir</button>
          <div class="custom-col">
            <table class="table">
              <thead>
                <tr class="row">
                  <th class="co">Hora</th>
                  <th class="co">Lunes</th>
                  <th class="co">Martes</th>
                  <th class="co">Miércoles</th>
                  <th class="co">Jueves</th>
                  <th class="co">Viernes</th>
                  <th class="co">Sábado</th>
                  <th class="co">Domingo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hora of horas">
                  <td class="col">{{ hora }}</td>
                  <td class="col" *ngFor="let dia of dias">
                    <div *ngFor="let item of obtenerHorarioPorDiaYHora(dia, hora)" class="curso-container">
                      <div class="nombre-y-botones">
                        <span class="curso-nombre">{{ obtenerNombreCurso(item.curso_id) }}</span>
                      </div>
                    </div>                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="outP">
    <button class="outs" (click)="imprimirHorario()">Descargar PDF</button>
  </div>
</section>
