<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <div class="login">
                    <div class="image-container">
                        <img src="assets\user-circle.png" alt="Imagen">
                    </div>
                    <button class="button login__submit" routerLink="/iniciar">
                        <span class="button__text">Administrador</span>
                    </button>
                    <button class="button login__submit" routerLink="/iniciar-profesor">
                        <span class="button__text">Profesor</span>
                    </button>
                    <button class="button login__submit" routerLink="/iniciar-estudiante">
                        <span class="button__text">Estudiante</span>
                    </button>
                </div>    
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</body>