<div *ngIf="estudiante">
    <h2>Detalle del Estudiante</h2>
    <button class="out" routerLink="/iniciar-estudiante">Salir</button>
    <p><strong>Nombre:</strong> {{ estudiante.nombre }}</p>
    <p><strong>Apellido:</strong> {{ estudiante.apellido }}</p>
    <p><strong>Email:</strong> {{ estudiante.email }}</p>
    <p><strong>Cedula:</strong> {{ estudiante.dni }}</p>
    <p><strong>Edad:</strong> {{ estudiante.edad }}</p>
    <p><strong>Prueba:</strong> {{ estudiante.prueba }}</p>
  </div>
  
  
  
  
  
  
