<header class="header">
  <section class="flex">
    <a href="#Home" class="logo">Centro de Lenguas</a>

    <nav class="navbar">
      <ul>
        <li><a routerLink="/horario" class="active">Horario</a></li>
        <li><a routerLink="/horarios-cursos" class="active">Ver Horarios</a></li>
      </ul>    
    </nav>

  </section>
</header>

<section class="datos">
<div *ngIf="estudiante">
    <h2>Detalle del Estudiante</h2>
    <button class="out" routerLink="/iniciar-estudiante">Salir</button>
    <p><strong>Nombre:</strong> {{ estudiante.nombre }}</p>
    <p><strong>Apellido:</strong> {{ estudiante.apellido }}</p>
    <p><strong>Email:</strong> {{ estudiante.email }}</p>
    <p><strong>Cedula:</strong> {{ estudiante.dni }}</p>
    <p><strong>Edad:</strong> {{ estudiante.edad }}</p>
    <p><strong>Prueba:</strong> {{ estudiante.prueba }}</p>
  </div>
</section>
  
  
  
  
  
  
