<header class="header">
    <section class="flex">
      <a href="#Home" class="logo">Centro de Lenguas</a>
    </section>
  </header>
  
  <section>
    <button class="out" routerLink="/inicio">Salir</button>
    <div class="container">
      <div class="card">
        <div>
          <img src="/assets/images/briefcase.png" alt="Briefcase Image">
        </div>
        <div class="contenido">
          <label for="profesor">Selecciona tu nombre:</label>
          <select id="profesor" [(ngModel)]="selectedProfesorId">
            <option *ngFor="let profesor of profesores" [value]="profesor.id">
              {{ profesor.nombre }} {{ profesor.apellido }}
            </option>
          </select>
          <div class="button-container">
            <button (click)="irAProfesores()">Ingresar</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
