<header class="header">

    <section class="flex">
  
        <a href="#Home" class="logo">Centro de Lenguas</a>
  
        <nav class="navbar">
          <ul>
            <li><a routerLink="/profesores" class="active">Profesores</a></li>
            <li><a routerLink="/solicitudes">Solicitudes</a></li>
            <li><a routerLink="/curso" class="active">Cursos</a></li>
            <li><a routerLink="/horarios" class="active">Horarios</a></li>
          </ul>    
        </nav>
  
    </section>
  </header>
