<header class="header">

    <section class="flex">

        <a href="#Home" class="logo">Centro de Lenguas</a> 

    </section>

</header>

<section>
    <button class="out" routerLink="/inicio">Salir</button>
    <div class="container">
        <div class="card">
            <div>
                <img src="/assets/images/school.png">
            </div>
            <div class="contenido">
                <label for="cedula">Selecciona tu nombre:</label>
                <div class="button-container">
                    <button>Ingresar</button>
                    <button>Registrar</button>
                </div>
            </div>
        </div>
    </div>
</section>


